body {
  background-color: #FBFBFD;
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  line-height: 32px;
  margin: 0px;
}

header {
  background-color: #323233;
  color: #FBFBFD;
  line-height: normal;
  text-align: center;
}

h1 {
  margin: 0px 0px 50px 0px;
  padding: 32px;
  font-size: 32px;
  font-weight: bold;
}

strong {
  font-size: 40px;
  font-weight: bolder ;
}

img {
  width: 280px;
  border-radius: 50%;
}

a {
  font-size: 20px;
  color: #0066CC;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 40px;
}

a:hover {
  text-decoration: underline;
}

.fa-greater-than {
  font-size: 14px;
  color: #0066CC;
}


.container {
  width: 700px;
  margin: 0 auto;
}

.container-superior {
    text-align: center;
}

.card {
    border: 2px solid #323233;
    margin-bottom: 30px;
    padding: 0px 22px;
    border-radius: 14px;
    box-shadow: 6px 8px 10px rgb(0 0 0 / 30%);
}

.card:hover {
  box-shadow: 6px 8px 10px rgb(0 0 0 / 70%)
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: justify;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  text-align: center;
}

ul {
  padding-left: 0px;
}

.fa-github-square {
  font-size: 50px;
  color: #909096;
}
.fa-github-square:hover {
  font-size: 50px;
  color: #323233;
}

.fa-linkedin {
  font-size: 50px;
  color: #909096;
}
.fa-linkedin:hover {
  font-size: 50px;
  color: #323233;
}

.fa-facebook-square {
  font-size: 50px;
  color: #909096;
}
.fa-facebook-square:hover {
  font-size: 50px;
  color: #323233;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
